# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#####
#####
#####

# DS Store
.DS_Store

# temporary notebooks
01_webscraping-Copy1.ipynb
02_data_cleaning-Copy1.ipynb
03_nlp_features_eda-Copy1.ipynb
04_modeling-Copy1.ipynb
05_recommendation_system-Copy1.ipynb

01_webscraping_notebook-Copy1.ipynb
03_eda_processing_feature_engineering_notebook-UMBRELLA_GENRES-Copy1.ipynb
04_modeling_notebook-Copy1.ipynb
04_modeling_notebook-ALL-GENRES-downsampling-Copy2.ipynb
04_modeling_notebook-ALL-GENRES-downsampling-Copy3.ipynb
04_modeling_notebook-ALL-GENRES.ipynb
04_modeling_notebook-ALL-GENRES-downsampling-LEAKAGE.ipynb
04_modeling_notebook-ALL-GENRES-downsampling-FIX-ATTEMPTS.ipynb
04_modeling_notebook-ALL-GENRES-downsampling-FIX-ATTEMPTS-2.ipynb

Untitled.ipynb

# images
/charts/rnn_cm.png
/charts/svm_ultra_tuned_cm.png
/charts/svm_ultra_untuned_cm.png
/charts/svm_word_untuned_cm.png

# folders
/poems/*
/poem_imgs/*

# data
*.csv
*.txt
/archives/data/
/data/temp.png
/data/poet_url_dict.pkl
/data/poem_url_dict.pkl
/data/poems_df_clean_all.pkl

# neural net models
*.h5
*.hdf5