numpy==1.18.2
pytesseract==0.3.4
matplotlib==3.2.1
requests==2.23.0
gensim==3.7.3
selenium==3.141.0
pronouncing==0.2.0
textblob==0.15.3
nltk==3.4.5
scipy==1.10.0
pandas==1.0.3
streamlit==0.62.1
beautifulsoup4==4.9.1
scikit_learn==0.23.2
